//
   Created by Augustus on 14. 5. 0.
doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        #container.center
            #middle.center
                img(src='../resource/images/main/logo.png')
                br
                br
                br
                input(type='text', id='txt_email')
                br
                input(type='text', id='txt_pwd')
                br
                #btn
                    input(type='button',id='btn_join')
                    input(type='submit',id='btn_login',value='')
            #info.center
                p(id="infoText")
                    asdfasdf asdfjaskdlfjal;sdfjaskd asfk;dlj asdfasdklfja;sdfasdf qoiwehznxcvqowenvoiwe vno
                    br
                    만나면좋은친구 엠비시 문화 바아아앙송 띠리딜띨띨띠릳