//
   Created by Augustus on 14. 5. 0.
doctype html
html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript').
            WebFontConfig = {
            custom: {
                families: ['Nanum Gothic'],
                urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css']
            }
            };
            (function() {
                var wf = document.createElement('script');
                wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                    '://ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })();
    body
        #container.center
            #middle.center
                img(src='../resource/images/main/logo.png')
                br
                br
                br
                input(type='text', id='txt_email')
                br
                input(type='text', id='txt_pwd')
                br
                #btn
                    a(href='/view/maptest')
                        img(id='btn_main',src='../resource/images/main/btn_join.png', border='0')
                    input(id='btn_main',type='image',src='../resource/images/main/btn_login.png',border="0",alt="Submit")
            #info.center
                p(id="infoText").
                    asdfasdf asdfjaskdlfjal;sdfjaskd asfk;dlj asdfasdklfja;sdfasdf qoiwehznxcvqowenvoiwe vno
                    <br />
                    만나면좋은친구 엠비시 문화 바아아앙송 띠리딜띨띨띠릳