//
   Created by Augustus on 14. 5. 0.
doctype html
html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        title= title

        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")

        script(src='/javascripts/bootstrap.min.js')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        script(type='text/javascript').
            WebFontConfig = {
            custom: {
                families: ['Nanum Gothic'],
                urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css']
            }
            };
            (function() {
                var wf = document.createElement('script');
                wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                    '://ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })();
    body
        #container.center

            #middle.center
                img(src='/resource/images/main/logo.png')
                br
                br
                br
                form#loginForm.form-group(action='/api/login',method='post')
                    label.sr-only(for="input_email") Email address
                    input.form-control(type='email', id='input_email',placeholder='E-Mail', name='username')
                    label.sr-only(for="input_password") Email address
                    input.form-control(type='password', id='input_password',placeholder='Password',name='password')
                    #btn
                        a(href='/view/join')
                            img#btn_main(src='/resource/images/main/btn_join.png', border='0')
                        input#btn_main(type='image',src='/resource/images/main/btn_login.png',border="0",alt="Submit")
                        //a(href='/user/find')
                        //    p forgot password?

            #info.center
                p#infoText.
                    당신의 과거를 정리해서 담아보세요. 다양한 템플릿을 이용해 쉽게 포트폴리오를 작성할 수 있습니다.
                    <br />
                    '포트폴리오 관리 서비스 CareerStack'
                p#infoText.
                    최신 웹표준을 준수하는 브라우저만 지원합니다. Chrome과 Firefox를 추천합니다.
        script(type='text/javascript').
                $(document).ready(function() {
                    $("#loginForm").submit(function() { // intercepts the submit event
                        $.ajax({ // make an AJAX request
                            type: "POST",
                            url: "/api/login", // it's the URL of your component B
                            data: $("#loginForm").serialize(), // serializes the form's elements
                            success: function(data)
                            {
                                if(data.result == 100){
                                    window.location="/view/mypage";
                                }
                                else if(data.result == 101){
                                    alert('해당 이메일이 존재하지 않습니다');
                                }
                                else if(data.result == 102){
                                    alert('비밀번호가 잘못되었습니다');
                                }
                                else {
                                    alert('알 수 없는 오류. 다시 시도해 주세요');
                                }
                            }
                        });
                        return false;
                    });
                });