//
   Created by Augustus on 14. 5. 0.
doctype html
html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript').
            WebFontConfig = {
            custom: {
                families: ['Nanum Gothic'],
                urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css']
            }
            };
            (function() {
                var wf = document.createElement('script');
                wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                    '://ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })();
    body
        #container.center

            #middle.center
                img(src='../resource/images/main/logo.png')
                br
                br
                br
                input(type='text', id='input_txt',placeholder='E-Mail')
                br
                input(type='text', id='input_txt',placeholder='Password')
                #btn
                    a(href='/view/maptest')
                        img(id='btn_main',src='../resource/images/main/btn_join.png', border='0')
                    input(id='btn_main',type='image',src='../resource/images/main/btn_login.png',border="0",alt="Submit")
                    a(href='/user/find')
                        p forgot password?

            #info.center
                p(id="infoText").
                    나의 기록을 담는데 최적화 된 서비스. 포트폴리오, 이력, 여행, 인턴 등 다양한 템플릿이 존재합니다.
                    <br />
                    포트폴리오 관리 서비스 CareerStack