//
   Created by Augustus on 14. 5. 0.
doctype html
html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        title= title
        link(rel='stylesheet', href='/stylesheets/mypage.css')

        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script(src='../javascripts/bootstrap.min.js')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')

        script(type='text/javascript').
            WebFontConfig = {
            custom: {
                families: ['Nanum Gothic'],
                urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css']
            }
            };
            (function() {
                var wf = document.createElement('script');
                wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                    '://ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })();
    body
        #top
            #top_left
                img(src='/resource/images/mypage/logo_small.png',id='toplogo')
            #top_right
                span#welcomeText 박상욱님, 환영합니다.
                img(src='/resource/images/mypage/write_career.png',id='write_career')
                img(src='/resource/images/mypage/config.png',id='config')
                a(href='/api/logout')
                    img(src='/resource/images/mypage/logout.png',id='logout')
        #introduce
            #introduce_body
                img(src='/resource/images/mypage/introduce_default.png')
            #introduce_fold.text-center
                img.text-center.fold_img(src='/resource/images/mypage/fold_up.png', id='fold_img')
                img.text-center.fold_img(src='/resource/images/mypage/fold_down.png', id='fold_img', style='display:none')
            #introduce_bottom
        #main
            #main_left
                #menu_body
                #menu_edit
            #main_right
        #bottom
    script(type='text/javascript').
        $('#introduce_fold').click(function(){
            $('#introduce_body').slideToggle("fast", function(){$('.fold_img').toggle();});
        });