body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #2e2e2e;
  text-align: center;
  align-items: center;
}

a {
  color: #00B7FF;
}

.center{
    margin-left:auto;
    margin-right:auto;
}

#container{
    background-image:url("../resource/images/main/background.png");
    background-repeat: no-repeat;
    width: 820px;
    height: 675px;
    text-align: center;
    margin-top: 150px;
    padding-top: 190px;
}

#middle{
    width:215px;
    text-align: center;
}

#input_txt{
    width:215px;
    height:15px;
    margin-bottom: 10px;
    text-align: center;
}

#btn{
    text-align: right;
}

#btn_main{
    width:38px;
    height: 18px;
    margin-left: 2px;
}

#infoText{
    color: #ffffff;
    line-height: 150%;
    font-family: "Nanum Gothic", sans-serif;
}